.details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 50px;
	padding: 50px 0;
}

.activeImage {
	width: 100%;
	height: 500px;
	background-color: #888;
	position: relative;

	img {
		width: 100%;
		height: auto;
	}
}

.left {
	position: relative;
	max-width: 100%;
	min-width: 0;
}

.slickContainer {
	max-width: 100%;
}

.title,
.shortDesc {
	margin-bottom: 30px;
}

.buy {
	padding: 10px 60px;
	border: 0;
	border-radius: 0;
	font-size: 18px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s;

	&:hover {
		background-color: #555;
	}
}

@media screen and (max-width: 860px) {
	.details {
		grid-template-columns: 1fr;
	}

	.title {
		margin-top: 40px;
	}
}

@media screen and (max-width: 640px) {
	.activeImage {
		height: 300px;
	}
}
