html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.slick-prev:before,
.slick-next:before {
	color: black !important;
}

.slick-slide {
	height: 150px !important;
	position: relative;
	box-sizing: border-box;
	border-left: 2px solid white;
}

.slick-list {
	height: 150px;
}

.slick-track {
	margin-left: 0 !important;
}

@media screen and (max-width: 640px) {
	.slick-slide {
		height: 100px !important;
	}

	.slick-list {
		height: 100px;
	}
}
